COMPOSE_PROJECT_NAME=apijuliojubilado-prod
SPRING_PROFILES_ACTIVE=prod

DB_NAME=julio_prod
SQLSERVER_SA_PASSWORD=AltereSaProd@123
DB_APP_USERNAME=julio_prod_app
DB_APP_PASSWORD=AltereAppProd@123
DB_MIGRATION_USERNAME=julio_prod_migrator
DB_MIGRATION_PASSWORD=AltereMigratorProd@123
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true
DB_MSSQL_PID=Developer

SQLSERVER_PORT=1435
ELASTICSEARCH_PORT=9202
JULIOPEDIDOAPI_PORT=8280
JULIOJUBILADOAPI_PORT=8281
FRONTEND_PORT=5175

VITE_API_BASE_URL=/api
VITE_PEDIDO_API_BASE_URL=/pedido-api
APP_CORS_ALLOWED_ORIGINS=http://localhost:5175,https://localhost:5175

JWT_ISSUER=JulioApis
JWT_EXPIRATION_MINUTES=60
JWT_SECRET=ALTERE_ESTA_CHAVE_PARA_PRODUCAO_COM_NO_MINIMO_32_CARACTERES
JULIOPEDIDOAPI_SERVICE_SUBJECT=service-juliopedidoapi

APP_SEED_DEFAULT_USERS=false

PEDIDO_API_ADMIN_USERNAME=admin
PEDIDO_API_ADMIN_PASSWORD=ALTERE_ESTA_SENHA_ADMIN_DA_API_PEDIDOS
PEDIDO_API_SUPERVISOR_USERNAME=supervisor
PEDIDO_API_SUPERVISOR_PASSWORD=ALTERE_ESTA_SENHA_SUPERVISOR_DA_API_PEDIDOS
PEDIDO_API_FUNCIONARIO_USERNAME=funcionario
PEDIDO_API_FUNCIONARIO_PASSWORD=ALTERE_ESTA_SENHA_FUNCIONARIO_DA_API_PEDIDOS
PEDIDO_API_TOTEM_USERNAME=totem
PEDIDO_API_TOTEM_PASSWORD=ALTERE_ESTA_SENHA_TOTEM_DA_API_PEDIDOS
