FRONTEND_IMAGE=docker.io/your-dockerhub-user/juliojubiladofrontend:latest
JULIOJUBILADOAPI_IMAGE=docker.io/your-dockerhub-user/juliojubiladoapi:latest
JULIOPEDIDOAPI_IMAGE=docker.io/your-dockerhub-user/juliopedidoapi:latest
