SQLSERVER_SA_PASSWORD=SenhaForte@123
DB_APP_USERNAME=julio_dev_app
DB_APP_PASSWORD=DevApp@123
DB_MIGRATION_USERNAME=julio_dev_migrator
DB_MIGRATION_PASSWORD=DevMigrator@123
JWT_SECRET=CHAVE_SUPER_SECRETA_JULIO_APIS_COM_NO_MINIMO_32_CARACTERES
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin123
